.productCard{
    background-color: var(--primary-color);
    height: 480px;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 2px 3px 4px #acacac;
    cursor: pointer;
    transition: transform 400ms ease-out;
}

.productCard:hover{
    transform: scale(1.02);
}

.productCard img{
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 240px;
    max-height: 240px;
    width: auto;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.productCard__info{
    padding: 14px 24px;
    height: calc(100% - 220px);
    display: flex;
    flex-direction: column;
}

.productCard__info h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.productCard__info p{
    font-size: 14px;
    margin-bottom: 10px;
}

.productCard__infoShop h1{
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
}

.productCard__infoShop{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 20px;
}

.productCard__infoShop button{
    width: 120px;
    height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    transition: all 150ms ease-out;
}

.productCard__infoShop button:hover{
    border: #ffffff 2px solid;
    background-color: var(--primary-color);
    color: #ffffff;
}
