.carousel{
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    overflow-x: hidden;
    position: relative;
}

.carousel__navigationArrow{
    z-index: 10;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #EBEBEB;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    opacity: .8;
}

.carousel__navigationArrow:hover{
    opacity: .5;
}

.carousel__navigationArrow.leftArrow{
    left: 30px;
}

.carousel__navigationArrow.rightArrow{
    right: 30px;
}




.carousel__navigation{
    width: 100%;
    height: 40px;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__navigationDot{
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 5%;
}

.carousel__navigationDot.active{
    background-color: var(--primary-color);
    border: var(--secondary-color) 2px solid;
}